<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/header %>
  </head>

  <body id="page-top">
    <!-- Navigation-->
    <% include ./partials/navmenu %>

    <section id="contact">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">
          Contact Me
        </h2>
        <hr class="star-dark mb-5" />
        <div class="row">
          <div class="col-lg mx-auto">
            <form
              name="sentMessage"
              id="contactForm"
              action="/thanks"
              method="POST"
            >
              <div class="control-group">
                <div
                  class="form-group floting-label-form-group controls mb-0 pb-2"
                >
                  <label for="firstName">Name</label>
                  <input
                    class="form-contol"
                    id="firstName"
                    name="firstName"
                    type="text"
                    placeholder="First Name"
                  />
                  <p class="help-block text-danger"></p>
                </div>
              </div>

              <div class="control-group">
                <div
                  class="form-group floting-label-form-group controls mb-0 pb-2"
                >
                  <label for="firstName">Name</label>
                  <input
                    class="form-contol"
                    id="lastName"
                    name="lastName"
                    type="text"
                    placeholder="Last Name"
                  />
                  <p class="help-block text-danger"></p>
                </div>
              </div>

              <div class="control-group">
                <div
                  class="form-group floting-label-form-group controls mb-0 pb-2"
                >
                  <label for="firstName">Name</label>
                  <input
                    class="form-contol"
                    id="email"
                    name="email"
                    type="text"
                    placeholder="Email"
                  />
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <br />

              <div class="form-group">
                <button type="submit" class="btn btn-primary" btn-xl btn-block>
                  Send
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!--Footer-->
    <% include ./partials/footer %>
  </body>
</html>
